<!--The content below is only a placeholder and can be replaced.-->

<body>
  <div class="container">
    <div class="text-center" id="default-title">
      <div class="text-center" id="win-title">
        <span>Układanka: Wygrana!</span>
      </div>
      <span>Układanka</span>
    </div>
    <div id="number-of-clicks">
      <div id="wynik">Liczba klikniec: {{clickCounter}}</div>
    </div>
    <div id="class1">
      <div class="text-center">
        <button type="button" class="StartButton" (click)="startFunction()">Start</button>
      </div>
    </div>

    <div id="level-one">
      <div class="container h-100">
        <div class="row justify-content-center align-items-center">
          <table class="table">
            <tbody>
              <tr>
                <td class="unmarked"></td>
                <td class="empty"></td>
                <td class="empty"></td>
                <td class="unmarked"></td>
                <td class="empty"></td>
              </tr>
              <tr>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
              </tr>
              <tr>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="empty"></td>
                <td class="unmarked"></td>
                <td class="empty"></td>
              </tr>
              <tr>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="empty"></td>
              </tr>
              <tr>
                <td class="empty"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div id="level-two">
      <div class="container h-100">
        <div class="row justify-content-center align-items-center">
          <table class="table">
            <tbody>
              <tr>
                <td class="empty"></td>
                <td class="unmarked"></td>
                <td class="empty"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
              </tr>
              <tr>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
              </tr>
              <tr>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
              </tr>
              <tr>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="empty"></td>
              </tr>
              <tr>
                <td class="empty"></td>
                <td class="empty"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="empty"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div id="level-three">
      <div class="container h-100">
        <div class="row justify-content-center align-items-center">
          <table class="table">
            <tbody>
              <tr>
                <td class="unmarked"></td>
                <td class="empty"></td>
                <td class="empty"></td>
                <td class="unmarked"></td>
                <td class="empty"></td>
              </tr>
              <tr>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
              </tr>
              <tr>
                <td class="empty"></td>
                <td class="unmarked"></td>
                <td class="empty"></td>
                <td class="unmarked"></td>
                <td class="empty"></td>
              </tr>
              <tr>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="empty"></td>
                <td class="unmarked"></td>
              </tr>
              <tr>
                <td class="empty"></td>
                <td class="unmarked"></td>
                <td class="empty"></td>
                <td class="empty"></td>
                <td class="unmarked"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div id="level-four">
      <div class="container h-100">
        <div class="row justify-content-center align-items-center">
          <table class="table">
            <tbody>
              <tr>
                <td class="empty"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
              </tr>
              <tr>
                <td class="empty"></td>
                <td class="unmarked"></td>
                <td class="empty"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
              </tr>
              <tr>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="empty"></td>
                <td class="empty"></td>
                <td class="unmarked"></td>
              </tr>
              <tr>
                <td class="empty"></td>
                <td class="unmarked"></td>
                <td class="empty"></td>
                <td class="empty"></td>
                <td class="empty"></td>
              </tr>
              <tr>
                <td class="empty"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="unmarked"></td>
                <td class="empty"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>


<router-outlet></router-outlet>