<!--The content below is only a placeholder and can be replaced.-->

<body>
  <div class="container">
    <div class="text-center">
      <div class="header" *ngIf="!allMarked; else win">Układanka</div>
      <ng-template #win >
        <div class="header">Wygrana!</div>
      </ng-template>
    </div>

    <div class="counter">
      <div id="wynik">Liczba klikniec: <p class="clickCount"> {{clickCounter}} </p> </div>
    </div>

    <div id="jigsaw">
    <div *ngIf="startClicked">
      <div *ngFor="let item of values; let i = index;">
          <div *ngFor="let disp of item; let j = index"
                (click)="onTileClicked($event, i, j)"
                [ngClass]="disp.value == 0  ? 'empty' : (disp.marked ? 'marked' : 'unmarked')">
                  <div style="color: RED !important" class="item">
                   {{disp.marked}}
                    {{disp.value}}
                 </div>
                </div>
              <br>
            </div>
          </div>
      </div>
    </div>

    <div id="class1">
      <div class="text-center">
        <button type="button" class="StartButton" (click)="onStartClicked()">Start</button>
        <button type="button" class="StartButton" (click)="onGenerateNewClicked()">Generate new</button>

      </div>
    </div>

</body>
