body {
    background-color: darkslategray;
    height: 1000px;
}

.container-fluid {
    overflow: hidden;
}

.header {
   display: block;
   width: 100%;
   background-color: lawngreen;
   color: darkslategray;
   margin-left: auto;
   margin-right: auto;
   font-size: 48px;
   font-family: Comic Sans MS;
   letter-spacing: 8px;
   text-align: center;

}

.container{
  text-align: center;
}


.clickCount {
  font-size: 20px;
  font-style: bold;
}

.item {
  display: inline-block;
}

#class1 {
    margin-top: 50px;
    text-align: center;
}

.btn-primary:hover {
    background-color: cornflowerblue;
}

.table {
    margin-top: 100px;
    width: 500px;
    height: 500px;
    border: 10px solid white;
}

.item {
    border: 1px solid gray;
    height: 60px;;
    width: 60px;
}

.empty {
  display: inline-block;
  background-color: white;
  color: white;
}

.unmarked {
    display: inline-block;
    background-color: lawngreen;
    color: lawngreen;
}

.marked {
    display: inline-block;
    background-color: cornflowerblue;
    color: cornflowerblue;
}

#number-of-clicks {
    visibility: hidden;
    display: block;
    width: 100%;
    background-color: lawngreen;
    color: darkslategray;
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
    font-family: Comic Sans MS;
    letter-spacing: 8px;
    text-align: center;
}

#wynik{
    display: block;
    margin: auto;
    padding: 10px 60px;
    font-size: 20px;
    font-family: Comic Sans MS;
    background-color: darkslategray;
    color: lawngreen;
}

p {
    display: inline-block;
    font-size: 36px;
    font-family: Comic Sans MS;
    color: lemonchiffon;
    margin-right: 10px;
}

button{
    display: block;
    margin: auto;
    padding: 10px 60px;
    font-size: 20px;
    font-family: Comic Sans MS;
    background-color: lawngreen;
    color: darkslategray;
}

#class1 {
    visibility: visible;
}

#win-title {
    visibility: hidden;
}




/* #level-one{
    display: inline-block;
    margin: auto;
    padding: 10px 60px;
    visibility: hidden;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#level-two{
    display: inline-block;
    margin: auto;
    padding: 10px 60px;
    visibility: hidden;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#level-three{
    display: inline-block;
    margin: auto;
    padding: 10px 60px;
    visibility: hidden;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#level-four{
    display: inline-block;
    margin: auto;
    padding: 10px 60px;
    visibility: hidden;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
} */
